
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p><p>Copyright &copy; <script>document.write(new Date().getFullYear())</script> ela eats + codes</p>
  </div>
</div>
</body>
</html>
